<div class="ui container">
<div class="footer">
    <div class="ui segment">
        Fitness is life!
        <br>
        <br>
        <i class="facebook square icon"></i>
        <i class="linkedin icon"></i>
        <i class="slack icon"></i>
    </div>
</div>

</div>