<div class="ui star rating" data-rating="3"></div>


<div class="ui form" >
    <form method="POST" action="/feed">
        <div class="field">
            <label>Create Post</label>
            <input type="textarea" name="content"></input>
        </div>
        <button class="positive ui button" type="submit">Post</button>
    </form>
</div>


<br>
<div class="ui feed">

<% for items in @posts do%>
  <div class="event">
    <div class="label">
  
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
        <%= items.user.firstName %>
        </a> created a post
        <div class="date">
            <%= Time.now %>
        </div>
        
      </div>
      <div class="extra text">
        <%= items.text %>
        </div>
        
        <div class="meta">
        <a class="like">
        <i class="like icon"></i> 4 Likes
        </a>
        </div>
        <div>
        <a href="/feed/delete/<%=items.id %>" class=" mini ui button"> DELETE </a>
        </div>
        </div>
        </div>
        
 <% end %>
</div>