<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>One Inces at a Time</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css"/>
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>


  <div class="ui top attached tabular menu">
 <% if @user %>
  <a class="active item" href="/logout">
    Logout
  </a>
  <a class="item" href="/logout/delete/<%=@user.id %>">
    Delete
  </a>
<% else %>
  <a class="active item" href="/login">
    Login
  </a>
  <a class="item" href="/signup">
    Sign Up
  </a>
  <%end%>

  <div class="right menu">
    <div class="item">
      <div class="ui input">
        <input type="text" placeholder="Search users...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
</div>


      <br>
      <br>

      <%= yield %>
          </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

       <%= erb :"partials/footer" %> 

 <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="/main.js"></script>

</body>
</html>