 <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
<form class="ui form" method="POST" action="/users/login">
  <h2>LogIn</h2>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">

      <br>
      <br>
      <br>
      <br>


       <button class="ui button" type="submit">Login</button>
  </form>

    </div>

    

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
  </div>

<img src="/image/leave.jpeg" width=101% alt="view">