 <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
<form class="ui form" method="POST" action="/users/signup">
  <h2>Create your account</h2>
  <div class="two fields">
  
  <div class="field">

      <label>Email</label>
      <input required type="text" name="email">

      <label>Password</label>
      <input required type="password" name="password">

      <label> User Name</label>
      <input required type="user name" name="user name">

      <button class="ui button" type="submit">Sign Up</button>
    </form>
    </div>

   
    <img src="/image/building.jpeg" alt="view">
    

