<form class="ui form" method="POST" action="/users/signup">
  <h2>SIGN UP</h2>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">
    </div>

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
  </div>

  <div class="two fields">
  <div class="field">
    <label>First Name</label>
    <input required type="text" name="first_name" placeholder="First Name">
  </div>

  <div class="field">
    <label>Last Name</label>
    <input required type="text" name="last_name" placeholder="Last Name">
  </div>
</div>

<div class="three fields">
  <div class="field">
    <label>Phone</label>
    <input required type="text" name="phone_number" placeholder="Phone">
  </div>

  <div class="field">
    <label>Gender</label>
    <input required type="text" name="gender" placeholder="Gender">
  </div>
</div>

  <button class="ui button" type="submit">Sign Up</button>
</form>

  
    

